extends base.pug

block content 
  h4 Change Title of Video
  form(action="/save-change" method="GET")
    input(type="text" name="title" placeholder="video Title" value=video.title required)
    input(type="submit" value="save")