@import url("./reset.css");

body {
  display: flex;
  width: 100%;
  height: 100%;
  background: #7c4822;

  #container {
    width: 100%;
    height: 100%;

    #greet {
      top: 0;
      height: 100vh;
      background-color: #fffbf8;

      .text_box {
        position: relative;
        position: absolute;
        font-size: 7rem;
        text-align: center;
        font-weight: 700;
        color: #7c4822;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
      }

      .blink {
        animation: blink 0.5s infinite;
      }
    }

    #intro {
      background-image: url("/img/bg_note1.jpg");
      animation: animateBackground 130s linear infinite;
      height: 100%;
      transform: scale(0.1);
      transform-origin: center;      
      animation: zoomIn 2s ease-in-out 0.5s forwards;
      overflow: hidden;
      position: relative;

      #card_container {
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
        z-index: 10;

        .card {
          width: 100%;
          padding: 0 100px;
          overflow: hidden;
          align-items: center;

          h2 {
            font-size: 3rem;
            color: #7c4822;
          }

          h1 {
            font-size: 6.5rem;
            font-weight: bold;
            color: #482f1c;
          }

          h3 {
            font-size: 2.25rem;
            color: #482f1c;
          }

          .card_name {
            padding-bottom: 30px;
            border-bottom: 5px solid #7c4822;
          }

          .card_contact {
            padding-top: 30px;

            .contact_button {
              padding-top: 20px;

              a {
                display: inline-block;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: #7c47227e;
                margin: 0 8px;
                position: relative;
                overflow: hidden;
                padding-left: 16px;
                padding-top: 15px;
                transition: all 0.9s;

                &:nth-child(4) {
                  padding-left: 10px;
                  padding-top: 10px;
                }

                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  height: 0;
                  background-color: #482f1c;
                  transition: all 0.6s;
                }

                &:hover::before {
                  height: 100%;
                }

                &:hover .btn_img {
                  position: relative;
                  animation: rotation 0.7s linear 0.3s 10;
                }
              }
            }
          }
        }
      }

      .interest {
        display: flex;
        height: 60vh;
        gap: 20px;
        padding: 219px 288px;
        overflow: hidden;

        li {
          border-radius: 50px;
          flex: 1;
          transition: all 0.5s;
          position: relative;
          overflow: hidden;
          width: 200px;
          height: 500px;

          &:nth-child(1) {
            background: url("./img/itr_prog.png") center/cover no-repeat;
            filter: sepia(0.3) brightness(0.8);
            flex: 9;
            display: block;
          }

          &:nth-child(2) {
            background: url("./img/itr_cmnc.png") center/cover no-repeat;
          }

          &:nth-child(3) {
            background: url("./img/itr_ppl.png") center/cover no-repeat;
          }

          &:nth-child(4) {
            background: url("./img/itr_exp.png") center/cover no-repeat;
          }

          .content {
            display: none;
            color: #fff;
            opacity: 0.8;
            width: 100%;
            height: 250px;
            padding: 40px;
            margin-top: 10px;
            transition: all 0.5s;
            position: relative;

            &:first-child {
              display: block;
            }

            h2 {
              font-size: 2rem;
              position: absolute;
              color: #c28050;
            }

            h1 {
              padding-top: 30px;
              font-size: 4rem;
            }
          }

          &:hover .content {
            display: block;
            filter: brightness(1.1);
            margin-top: 0;
            opacity: 1;
            transition-delay: 0.1s;
          }
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animateBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
