@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  display: flex;
  width: 100%;
  height:100vh;
  align-items:center;
  justify-content: center;
  /* background: linear-gradient(#ee9696, transparent 50%), url("./img/bg1.png") center/cover no-repeat; */
  /* background-position: 0 0;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat; */

  #container {
    width: 100%;
    height:100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /*top_navigation */
  #top_navigation {
    width: 1098px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  #logo img {
    width: 36px;
    height: 36px;
  }
  .category_title {
    font-family: "DotGothic16", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #f50454;
    padding-bottom: 4px;
  }
  .right_gnb {
    color: #ff0d5d;
    font-weight: 700;
  }

  /*card_items*/
  #card_items {
    ul {
      margin: 12%;
      display: flex;
      justify-content: center;
      gap: 100px;
      position: relative;
      bottom: 0;
      li {
        .hoverImg {
          position: absolute;
          left: 0;
          top: 0;
          display: none;
        }

        img {
          width: 250px;
          height: 250px;
          object-fit: cover;
        }
        &:hover .hoverImg {
          display: flex;
        }
      }
    }
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 300
  }
  button {
    display: flex;
    justify-content: center;
    font-family: "DotGothic16", sans-serif;
    background: #ee9696;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: #fff;
      color: #ee9696;
      border: 1px solid #ee9696;
      transform:scale(1.7);
    }
  }
}
